<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Commit"
        tools:targetApi="35"
        android:enableOnBackInvokedCallback="true">

  <!--      <activity
            android:name=".activity.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask">-->

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <!-- 앱 실행 진입점 -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 구글 로그인 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 서버 redirectUri와 동일하게 설정 -->
                <data
                    android:scheme="commit"
                    android:host="oauth2"
                    android:pathPrefix="/callback/google" />
            </intent-filter>

            <!-- 카카오 로그인 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="commit"
                    android:host="oauth2"
                    android:pathPrefix="/callback/kakao" />
            </intent-filter>
        </activity>

<!--        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
        </activity>-->

        <activity android:name=".activity.ReviewWriteActivity" android:exported="false"/>
        <activity android:name=".activity.WrittenReviewsActivity" android:exported="false"/>
        <activity android:name=".activity.mypage.ProfileActivity" android:exported="false"/>
        <activity android:name=".activity.mypage.ProfileEditActivity" android:exported="false"/>
        <activity android:name=".activity.mypage.PhotoReviewActivity" android:exported="false"/>
        <activity android:name=".activity.mypage.MyPageCommissionActivity" android:exported="false"/>
        <activity android:name=".activity.mypage.ProfileFollowingActivity" android:exported="false"/>
        <activity android:name=".activity.login.AgreeFirstActivity" android:exported="false"/>
        <activity android:name=".activity.alarm.AlarmActivity" android:exported="false" />
        <activity android:name=".activity.login.LoginRoleActivity" android:exported="false"/>
        <activity android:name=".activity.login.NicknameActivity" android:exported="false"/>
        <activity android:name=".activity.login.OnboardingActivity" android:exported="false"/>
        <activity android:name=".activity.mypage.ReportActivity" android:exported="false"/>
        <activity android:name=".activity.ReviewEditActivity" android:exported="false"/>
        <activity android:name=".activity.author.AuthorProfileActivity" android:exported="false"/>
        <activity android:name=".activity.CommissionFormActivity" android:exported="false"/>
        <activity android:name=".activity.SplashActivity" android:exported="false"/>

    </application>

</manifest>